<div class="container" >

    <div class=" d-flex justify-content-between " style="margin-top: 10%;" >
        
        <div class="">
            <input class="form-controlMe "  type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="Rechercher...">
        </div>
        <div (click)="archive()">
            <a routerLink="/archive/">
            <button type="button"
                class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 mr-2 mb-2"
                style="background: #F2C0E7;">archive
             
            </button>
        </a>
        </div>
    </div>
    
    
    <table class="table">
        <thead style="background-color: #F2C0E7; color: white;">
          <tr>
           
            <th scope="col">prenom</th>
            <th scope="col">nom</th>
            <th scope="col">solde</th>
            <th scope="col">type</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
         
          
        
    
        <tr class="border boder-2 "
                        *ngFor="let abonnement of User | filter:searchText | paginate: { itemsPerPage: 5, currentPage: pages }">
                       
                        <!-- <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{users.id}}
                        </th> -->
                        <td class="py-4 px-6">
                            {{abonnement.prenom}}
                        </td>
                        <td class="py-4 px-6">
                            {{abonnement.nom}}
                        </td>
                        
                        <td class="py-4 px-6">
                            {{abonnement.solde}}
                        </td>
                        <td class="py-4 px-6">
                            {{abonnement.type}}
                        </td>
    
                        <td class="py-4 px-6 " >
    
                          
    
                            <button (click)="delete(abonnement._id)" style="border: none;background-color: white;" type="submit">
                                <svg width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.05 36C4.225 36 3.51875 35.7063 2.93125 35.1188C2.34375 34.5313 2.05 33.825 2.05 33V4.5H0V1.5H9.4V0H22.6V1.5H32V4.5H29.95V33C29.95 33.8 29.65 34.5 29.05 35.1C28.45 35.7 27.75 36 26.95 36H5.05ZM26.95 4.5H5.05V33H26.95V4.5ZM10.35 28.7H13.35V8.75H10.35V28.7ZM18.65 28.7H21.65V8.75H18.65V28.7Z" fill="#DD1010"/>
                                    </svg>
                                    
                            </button>
                            
                        </td>
    
                        <div class="pagination fixed-bottom justify-content-center">
                            <pagination-controls (pageChange)="pages = $event"></pagination-controls>
                        </div>
                    </tr>
                </tbody>
      </table>
    </div>
    
     <!-- fixed-bottom justify-content-center -->
       
    