<div class="container">

<div class=" d-flex justify-content-between">
    
    <div class="">
        <input class="form-controlMe "  type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Rechercher...">
    </div>
    <div>
        <a routerLink="/archive/">
        <button type="button"
            class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 mr-2 mb-2"
            style="background: #F2C0E7;">archive
         
        </button>
    </a>
    </div>
</div>


<table class="table">
    <thead style="background-color: #F2C0E7; color: white;">
      <tr>
       
        <th scope="col">prenom</th>
        <th scope="col">nom</th>
        <th scope="col">montantglobal</th>
        <th scope="col">solde</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
     
      
    

    <tr class="border boder-2 "
                    *ngFor="let users of users  | filter:searchText | paginate: { itemsPerPage: 5, currentPage: pages }">
                   
                    <!-- <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{users.id}}
                    </th> -->
                    <td class="py-4 px-6">
                        {{users.prenom}}
                    </td>
                    <td class="py-4 px-6">
                        {{users.nom}}
                    </td>
                    
                    <td class="py-4 px-6">
                        {{users.montant}}
                    </td>
                    <td class="py-4 px-6">
                        {{users.solde}}
                    </td>

                    <td class="py-4 px-6 " >

                        <button (click)="recupereDonne(users._id,users.prenom,users.nom,users.codeacces,users.montant,users.solde)" style="border: none;background-color: white;" type="submit">
                            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.7036 11.4965L26.6036 10.3965L25.5036 9.29654L25.15 8.94299L24.7964 9.29654L2.64645 31.4465L2.5 31.593V31.8001V34.0001V34.5001H3H5.2H5.40711L5.55355 34.3537L27.7036 12.2037L28.0571 11.8501L27.7036 11.4965ZM35.4464 7.24654L33.7 8.99299L28.0071 3.3001L29.7536 1.55365C30.2224 1.08484 30.7934 0.850098 31.5 0.850098C32.2066 0.850098 32.7776 1.08484 33.2464 1.55365L35.4464 3.75365C35.9153 4.22246 36.15 4.79347 36.15 5.5001C36.15 6.20672 35.9153 6.77774 35.4464 7.24654ZM25.2 6.1072L30.8929 11.8001L6.19289 36.5001H0.5V30.8072L25.2 6.1072Z" fill="black" stroke="#1D4ED8"/>
                                </svg>
                                

                        </button>

                        <button (click)="delete(users._id)" style="border: none;background-color: white;" type="submit">
                            <svg width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.05 36C4.225 36 3.51875 35.7063 2.93125 35.1188C2.34375 34.5313 2.05 33.825 2.05 33V4.5H0V1.5H9.4V0H22.6V1.5H32V4.5H29.95V33C29.95 33.8 29.65 34.5 29.05 35.1C28.45 35.7 27.75 36 26.95 36H5.05ZM26.95 4.5H5.05V33H26.95V4.5ZM10.35 28.7H13.35V8.75H10.35V28.7ZM18.65 28.7H21.65V8.75H18.65V28.7Z" fill="#DD1010"/>
                                </svg>
                                
                        </button>
                        
                    </td>

                    <div class="pagination fixed-bottom justify-content-center">
                        <pagination-controls (pageChange)="pages = $event"></pagination-controls>
                    </div>
                </tr>
            </tbody>
  </table>
</div>

 <!-- fixed-bottom justify-content-center -->
   
