
<div class="login-page">
    <div class="container modif">
    
      
                <div class="form-left py-5 px-5 global">
                  <form class="row_ w-100" id="form"  (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                    <div *ngIf="!verifPass" class="text-danger" id="">
                        <span>les deux password ne correspondent pas!</span>
                      </div>
                    <h1 style="text-align: center;margin-bottom: 50px ;color: pink;" >modification mot de passe</h1>
                         
                 
                      <div class="col-md-12 mb-3">
                        <label>
                          Ancien<span class="text-danger">*</span></label>
                          <input type="password" class="form-control" formControlName="password" id="password" name="password"  id="password"
                            >
                          <div
                            *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors"
                            class="text-danger">
                            <div
                              *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors['required']">
                              champ requis
                            </div>
                           
                          </div> 
                      </div><br>
                      <div class="col-md-12 mb-3">
                        <label>
                          nouveau<span class="text-danger">*</span></label>
                          <input type="password" class="form-control" formControlName="password1" id="password1" name="password1"  id="password1"
                            >
                          <div
                            *ngIf="registerForm.controls['password1'].dirty && registerForm.controls['password1'].errors"
                            class="text-danger">
                            <div
                              *ngIf="registerForm.controls['password1'].dirty && registerForm.controls['password1'].errors['required']">
                              champ requis
                            </div>
                            <div
                              *ngIf="!registerForm.controls['password1'].errors['required'] && registerForm.controls['password1'].errors['minlength']">
                              Password minimun 6 caractères
                            </div>
                          </div> 
                      </div><br>
                      <div class="col-md-12 mb-3">
                        <label>
                          confirmation<span class="text-danger">*</span></label>
                          <input type="password" class="form-control" formControlName="password2" id="password" name="password2"  id="password2" (click)="checkPassword()"
                            >
                          <div
                            *ngIf="registerForm.controls['password2'].dirty && registerForm.controls['password2'].errors"
                            class="text-danger">
                            <div
                              *ngIf="registerForm.controls['password2'].dirty && registerForm.controls['password2'].errors['required']">
                              champ requis
                            </div>
                            <div
                              *ngIf="!registerForm.controls['password2'].errors['required'] && registerForm.controls['password2'].errors['minlength']">
                              Password minimun 6 caractères
                            </div>
                          </div> 
                      </div><br>
  
                     
  
                           <div class="pb-5 col-md-12">
                            <button type="submit" class="btn btn-pink px-4 float-end mt-6 submit "> Modifier
                              <span class="visually" *ngIf="!spin" ></span>
                              <span class="" *ngIf="!spin" role="status" aria-hidden="false"
                              style="color: white;"></span>
                            </button>
                          </div>
                  </form>


            

                </div>
              </div>
            </div>
      


