<div class="container">
  <div class="row ">
    <div class="col">
      <div class="box">
       <div class="text"><p>CAFE</p></div>
      <div class="reservoir bg-info m-5">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width.%]="liquidHeight1"></div>
        </div>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="box">
      <div class="text"><p>LAIT</p></div> 
      <div class="reservoir bg-success m-5">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width.%]="liquidHeight2"></div>
        </div>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="box">
        <div class="text"><p>JUS D'ORANGE</p></div>
      <div class="reservoir bg-warning m-5">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width.%]="liquidHeight3"></div>
        </div>
      </div>
    </div>
    </div>
  </div>


  <h1>Tableau d'abonnement</h1>

  <table class="tab w-100">
    <thead >
      <tr   >
        <th>Type</th>
        <th>Prix</th>
        <th>Description</th>
        <th>S'abonner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>princesse</td>
        <td>9,99 / mois</td>
        <td>Accès limité au Lait</td>
        <td><a routerLink="/ajout/"><button (click)="ajout(1)">S'abonner</button></a></td>
      </tr>
      <tr>
        <td>khouss</td>
        <td>19,99 / mois</td>
        <td>Accès limité au café</td>
        <td><a routerLink="/ajout/"><button (click)="ajout(2)">S'abonner</button></a></td>
      </tr>
      <tr>
        <td>xeweul</td>
        <td>99,99 / mois</td>
        <td>Accès complet pour toute la fontaine </td>
        <td> <a routerLink="/ajout/"><button (click)="ajout(3)">S'abonner</button></a></td>
      </tr>
    </tbody>
  </table>
</div>